<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">


  <!-- Basic Page Needs
   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <meta charset="utf-8">
   <title>Tax Authority VAT Guidance</title>
   <meta name="description" content="">
   <meta name="author" content="">

   <!-- Mobile Specific Metas
   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- FONT
   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

   <!-- CSS
   –––––––––––––––––––––––––––––––––––––––––––––––––– -->

   <!-- Scripts
   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

   <!-- Favicon
   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <link rel="icon" type="image/png" href="../../dist/images/favicon.png">

 </head>
 <body>

   <!-- Primary Page Layout
   –––––––––––––––––––––––––––––––––––––––––––––––––– -->

   <div class="section hero">
     <div class="container">
       <div class="row">
         <div class="one-half column">
           <h4 class="hero-heading">View publically available VAT guidance published by tax authorities around the world.</h4>
           <a class="button button-primary" href="/guidance">VIEW GUIDANCE</a>
         </div>
         <div class="one-half column phones">
           <img class="phone" src="images/world.png">
         </div>
       </div>
     </div>
   </div>

   <div class="section values">
     <div class="container">
       <div class="row">
         <div class="one-third column value">
           <h2 class="value-multiplier">XYZ</h2>
           <h5 class="value-heading">English Guidance</h5>
           <p class="value-description">Number of countries with tax authority guidance published in English.</p>
         </div>
         <div class="one-third column value">
           <h2 class="value-multiplier">XYZ%</h2>
           <h5 class="value-heading">TBC</h5>
           <p class="value-description">TBC with an interesting stat.</p>
         </div>
         <div class="one-third column value">
           <h2 class="value-multiplier">66%</h2>
           <h5 class="value-heading">TBC</h5>
           <p class="value-description">TBC with an interesting stat</p>
         </div>
       </div>
     </div>
   </div>

   <div class="section get-help">
     <div class="container">
       <h3 class="section-heading">Want to see what there is?</h3>
       <p class="section-description">Tax Authority Guidance is a great place to look up country specific VAT rules that you may be unsure about. To explore all of the information, take a look at the link below. </p>
       <a class="button button-primary" href="http://getskeleton.com">View Guidance</a>
     </div>
   </div>





 <!-- End Document
   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
 </body>
 </html>
